body {
    cursor : url(/static/image/cursor.png) 10 14, pointer;
    font-family: 'Friz Quadrata Std', sans-serif;                                             
    background: url(/static/image/WallpaperDark.20d3d6f6\ \(1\).jpg) no-repeat 50% fixed;
    background-size: cover;
    background-color: #000;
    width: 98vw;
    height: 97vh;
    color: #d9d9d9;
    margin: 8px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iner-text {
    border: solid yellow 2px;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 10px 20px;
    width: 50%;
    margin-top: 6%;
}

.button {
    margin-top: 10%;
}

a#suivant {
    font-size: inherit;
    cursor: pointer;
    padding: 18px 80px;
    display: inline-block;
    margin: 15px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
	border-radius: 50px;
    color: #fff;
    overflow: hidden;
	background: #25221e
}

img {
    height: 50px;
    width: 50px;
}

.whatsapp-img-container {
    display: flex;
    justify-content: center;
    margin-top: 6%;
}
