{{define "debut"}}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Début</title>
        <link rel="stylesheet" href="/static/css/debut.css">
    </head>
    <header>
        <div class="info">
        Username :{{.Username}}
    </div>
    </header>
    <body>     
        <div class="main-container">
            <h1>Choisissez votre Niveau !</h1>
            <div class="upper-text">                    La règle est simple : trouvez le mot pour gagner la partie        
                </div>
                <div class="level-container">
                    <div class="level1">
                        <h2>Level 1</h2>
                        <ul>
                            <li>Only League of Legends characters</li>
                            <li>Short words</li>
                            <li>No malus</li>
                        </ul>
                        <div class="button">
                            <a href="http://localhost:8080/level1">Jouer</a>
                        </div>
                    </div>
                    <div class="level2">
                        <h2>Level 2</h2>
                        <ul>
                            <li>Only League of Legends items</li>
                            <li>Medium words</li>
                            <li>No malus</li>
                        </ul>
                        <div class="button">
                            <a href="http://localhost:8080/level2">Jouer</a>
                        </div>
                    </div>
                    <div class="level3">
                        <h2>Level 3</h2>
                        <ul>
                            <li>Only League of Legends characters spells</li>
                            <li>Hard words</li>
                            <li>No malus</li>
                        </ul>
                        <div class="button">
                            <a href="http://localhost:8080/level3">Souffrir</a>
                        </div>
                    </div>
                </div>
            </div>  
    </body>     
</html>
{{end}}