{{define "end"}}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>End</title>
        <link href="https://fonts.cdnfonts.com/css/friz-quadrata-std" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/end.css">
    </head>
    <body>     

  {{if .IsWinner}}

    <h1>Félicitations!</h1>
    
    <div class="yuumi">
        <img src="/static/image/yuumi.gif" alt=""></a>
        </div>

  {{else}}

  <h1>Vous avez perdu!</h1>

  <div class="poro">
    <img src="/static/image/poro-twerk.gif" alt=""></a>
</div>

  {{end}}
</body> 
    <footer>
    <div class="button">
      <a id="end" href="http://localhost:6969/game">Recommencer</a>
      <a id="end" href="http://localhost:6969/intro">Menu Principal</a>
    </div>
    </footer>        
</html>
{{end}}
