{{define "intro"}}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Choix Niveau</title>
        <link href="https://fonts.cdnfonts.com/css/friz-quadrata-std" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/intro.css">
    </head>
    <body>
        <div class="main-container">
            <h1>BIENVENUE SUR LOLGUESS</h1>
            <div class="iner-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. In commodi excepturi hic, inventore tenetur ad fuga reiciendis corporis aperiam recusandae soluta illo natus ab voluptate illum itaque. Incidunt, debitis assumenda?            
            </div>
            <div class="button">
                <a id="suivant" href="http://localhost:8080/init">Suivant</a>
            </div>
        </div> 
    </body>
    <footer>
        <div class="whatsapp-img-container">
            <a id="whatsapp" href="http://localhost:8080/whatsapp"><img src="/static/image/whatsapp.png" alt=""></a>
        </div>
    </footer>    
</html>
{{end}}