{{define "easy"}}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Level 1</title>
        <link href="https://fonts.cdnfonts.com/css/friz-quadrata-std" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/level1.css">
    </head>
    <header>
        <div class="info">
            Username : {{.Username}}
        </div>
    </header>
    <body>
        <h1>Page game</h1>
        <form action="/game/treatment" method="post">
            <input type="text" name="letter" placeholder="indiquer une letter" required>
            <button>Valider</button>
        </form>
    </body>     
</html>
{{end}}