{{define "whatsapp"}}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>whatsapp</title>
        <link href="https://fonts.cdnfonts.com/css/friz-quadrata-std" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/whatsapp.css">
    </head>
    <body>
        <h1>YOU GOT WHATSAPPED!!!!</h1>
        <embed src="/static/music/whatsapp.mp3" width="180" height="90" loop="true" autostart="true" hidden="true" />
            <div class="button">
                <a href="http://localhost:6969/intro">Retour</a>
            </div>
    </body>
</html>
    {{end}}